div.nav{
    background-color: #686d75;
    
    padding-top: 100px;

    vertical-align: top;

    float: left;
    width: 100px;

    overflow: hidden;
}

div.menuOption{
    width: 100%;
    height: 80px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

p.menuOptionText{
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

p.menuOptionText:hover {
    cursor:pointer
}