div.scoreSquareContainer {
    height: 36px;
    padding-left: 10px;
    
    display: inline-flex;
    align-content: center;
    align-items: center;
}

div.coloredSquare {
    /*background-color: green;*/
    border: 2px solid white;

    display: inline-block;
    margin-right: 8px;

    box-shadow: 5px 3px 8px #CBCBCB;
}

div.squareContainer p {
    color: black;
    display: inline-block;
}